body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7baf8;
  font-family: "Segoe UI", system-ui, sans-serif;
  box-sizing: border-box;
  margin-top: 150px;
  padding: 0;
}

.container {
  padding: 16px;
}

.calculator {
  width: 300px;
  padding: 24px 20px 20px;
  border-radius: 28px;
  background-color: #f9f9ff;
  box-shadow: 4px 4px 10px rgba(150, 121, 189, 0.25);
}

.display {
  width: 85%;
  height: 64px;
  border-radius: 20px;
  background-color: #eef6f6;
  box-shadow: inset 4px 4px 10px rgba(161, 161, 190, 0.4),
    inset -4px -4px 10px rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 18px;
  margin-bottom: 18px;
  overflow: hidden;
}

.expression {
  font-size: 42px;
  color: #000;
  white-space: nowrap;
}

.values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.values button {
  border: none;
  outline: none;
  height: 44px;
  border-radius: 80px;
  background-color: #f5f7ff;
  box-shadow: 3px 3px 8px rgba(150, 121, 189, 0.4);
  color: #000;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.08s ease, box-shadow 0.08s ease, background 0.1s;
}

button:hover {
  background-color: #c79dd3;
  color: white;
}

.values button:active {
  transform: translateY(1px);
  background-color: #c76eca;
  box-shadow: inset 2px 2px 5px rgba(150, 121, 189, 0.4);
}

.dot {
  justify-self: flex-start;
  width: 65px;
  font-weight: 700;
}

.equal {
  grid-column: span 2;
  background-color: #d87bb4;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 3px 3px 8px rgba(160, 100, 150, 0.5);
}

.equal:active {
  box-shadow: inset 2px 2px 5px rgba(160, 100, 150, 0.5);
}

@media (max-width: 400px) {
  .calculator {
    width: 90%;
  }
}
